/* Taille deskstop grand ecran*/
@media screen and (min-width: 1500px) {
    .mobile {
        display: none;
    }
}

/* Taille deskstop moyenne ecran*/
@media screen and (min-width: 1200px) and (max-width: 1499px) {
    .mobile {
        display: none;
    }

    .populaire {
        width: 25%!important; 
        background-color: #F2F2F2;
        border-radius: 10px;
        padding: 20px 40px;
    }

    figure  {
        margin-bottom: 30px!important;
        width: 250px!important;
    }

    .img-card-pop {
        width: 90px!important;
    }
}

/* Taille deskstop petit ecran*/
@media screen and (min-width: 1023px) and (max-width: 1200px) {

    .mobile {
        display: none;
    }

    .rechercher {
        display: block;
    }

    .filtreIntitule {
        font-size: 1em!important;
    }

    .heading-populaire h1 {
        font-size: 21px;
    }

    .hebergement h1 {
        font-size: 21px;
    }

    .activite-titre {
        font-size: 21px;
    }

    #mesHebergement {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    .cards {
        width: 100%!important;
        height: 220px!important;
    }

    .cards-list-populaire {
        width: 100%;
    }

    .cards-list > * {
        flex: 0 0 32.5%!important;
    }

    .populaire {
        width: 25%!important; 
        background-color: #F2F2F2;
        border-radius: 10px;
        padding: 20px 40px;
    }

    .details-populaire {
        width: 94%!important;
    }

    .img-card-pop {
        display: block;
        object-fit: cover;
        object-position: center;
        margin: 2%;
        width: 90px!important;
        height: 90%;
        border-radius: 20px 0 0 20px;
    }

    #activites {
        flex-direction: column;
    }

    form {
        width: 500px;
    }

    figure  {
        margin-bottom: 30px!important;
        width: 220px!important;

    }

}

/* Taille grande tablette */
@media screen and (min-width: 992px) and (max-width: 1023px) {

    .mobile {
        display: none;
    }

    .rechercher {
        display: block;
    }

    #mesHebergement {
        flex-direction: column;
    }

    .cards {
        width: 100%!important;
        height: 220px!important;
    }

    .cards-list-populaire {
        width: 100%;
    }

    form {
        width: 500px;
    }

    .cards-list > * {
         flex: 0 0 40%!important; 
    }

    .populaire {
        width: 90%!important;
        border-radius: 0!important;
        order: 1;
    }

    .details-populaire {
        width: 94%!important;
    }
    
    .img-card-pop {
        width: 100%!important;
        margin: 1%!important;
    }

    .hebergement {
        width: 90%!important;
        background-color: white!important;
        order: 2;
    }

    #activites {
        flex-direction: column;
    }

    .activite-titre {
        padding-left: 40px;
    }
    
    .imagesMarseille {
        justify-content: center!important;
        align-items: center!important;
        flex-wrap: wrap;
        margin-bottom: 30px!important;
    }

    .image-activite {
        justify-content: center!important;
        align-items: center!important;
        flex-wrap: wrap;
        width: 100%!important;
    }

    figure  {
        margin-bottom: 30px!important;
        width: 90%!important;
    }

    .img-act, .img-act-2, .img-act-3, .img-act-4, .img-act-5 {
        height: 200px!important;
    }

}

/* Taille tablette */
@media screen and (min-width: 768px) and (max-width: 992px){

    .mobile {
        display: none;
    }

    .rechercher {
        display: block;
    }

    #mesHebergement {
        flex-direction: column;
    }

    .cards {
        width: 100%!important;
        height: 220px!important;
    }

    .cards-list-populaire {
        width: 100%;
    }

    .cards-list > * {
         flex: 0 0 46%!important; 
    }

    .populaire {
        width: 90%!important;
        border-radius: 0!important;
        order: 1;
    }

    form {
        width: 500px;
    }

    .details-populaire {
        width: 94%!important;
    }
    
    .img-card-pop {
        width: 100%!important;
        margin: 1%!important;
    }

    .hebergement {
        width: 90%!important;
        background-color: white!important;
        order: 2;
    }

    #activites {
        flex-direction: column;
    }

    .activite-titre {
        padding-left: 40px;
    }
    
    .imagesMarseille {
        justify-content: center!important;
        align-items: center!important;
        flex-wrap: wrap;
        margin-bottom: 30px!important;
    }

    .image-activite {
        justify-content: center!important;
        align-items: center!important;
        width: 100%!important;
    }

    figure  {
        margin-bottom: 30px!important;
        width: 90%!important;
    }

    .img-act, .img-act-2, .img-act-3, .img-act-4, .img-act-5 {
        height: 150px!important;
    }

    .footer-content {
        width: 75%!important;
    }

}

/* Taille téléphone */
@media screen and (max-width: 767px){

    main {
        width: 100%!important;
    }
    
    header {
        flex-wrap: wrap;
        width: 100%!important;
        margin: 0 auto;
    }

    .logo {
        height: 50px;
        margin-left: 5%;
    }

    .inscription {
        margin-right: 12%;
    }

    nav {
        margin-top: 20px;
        width: 100%!important;
        display: flex;
        order: 2;
        align-items: center;
        justify-content: center;
        border-bottom: 2px solid #F2F2F2;
    }

    .menuItem:hover {
        border-top:0!important;
        border-bottom: 2px solid #0065FC;
        padding-bottom:15px;
    }

    /* Mes hébergements */

    #searchHebergement {
        margin-left: 6%;
    }

    .titre {
        line-height: 1.5em!important;
        margin-top: -20px;
        width: 96%;
    }

    .rechercher {
        display: none;
    }

    .mobile {
        display: block;
    }

    .mark {
        width: 300px!important;
    }

    form {
        width: 330px;
    }

    input[type="text"] {
        width: 200px;
    }

    .submit {
        width: 250px!important;
    }

    .filtre {
        align-content: space-around;
        flex-wrap: wrap;
    }

    .filtreIntitule {
        font-size: 1em!important;
    } 

    .filtreDetails {
        margin-left: 0!important;
        margin-right: 10px;
        margin-bottom: 20px;
    }

    /* LISTE HEBERGEMENT */

    #mesHebergement {
        flex-direction: column;
        width: 80.6%!important;
    }

    .cards {
        width: 100%!important;
        height: 220px!important;
    }

    .cards-list-populaire {
        width: 100%;
    }

    .cards-list {
        width: 100%;
        flex-direction: column;
    }

    .populaire {
        width: 100%!important;
        border-radius: 0!important;
        order: 1;
    }

    .heading-populaire {
        width: 100%;
    }
    
    .hebergement {
        width: 100%!important;
        background-color: white!important;
        order: 2;
    }

    #activites {
        flex-direction: column;
        width: 100%!important;
    }

    .activite-titre {
        padding-left: 40px;
    }
    
    .imagesMarseille {
        justify-content: center!important;
        align-items: center!important;
        flex-wrap: wrap;
        margin: 0 auto!important;
    }
    
    .image-activite {
        justify-content: center!important;
        align-items: center!important;
        width: 100%!important;
    }

    figure  {
        margin-bottom: 30px!important;
        width: 80%!important;
    }

    .img-act, .img-act-2, .img-act-3, .img-act-4, .img-act-5 {
        height: 150px!important;
    }

    /* FOOTER */

    .footer-content {
        flex-direction: column;
        padding-bottom: 30px!important;
    }

    #assistance {
        width: 80%!important;
    }

}