/* GENERAL */

body, html {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

main {
    width: 85%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

button {
    border: none;
}

::placeholder {
    color: black;
}

/* HEADER */

header {
    display: flex;
    padding-top: 20px;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 50px;
}

nav ul {
    display: flex;
}

nav a {
    text-decoration: none;
}

ul li {
    padding-right: 40px;
}

ul {
    list-style: none;
}

.spacer {
    flex-grow: 1;
}

.inscription {
    display:flex;
    align-items: center;
    color: #0065FC;
    font-weight: bold;
}

.menuItem {
    font-weight: bold;
    color: grey;
    padding-right: 20px;
    padding-left: 20px;
}

.menuItem:hover {
    border-top: 2px solid #0065FC;
    padding-top: 33px;
    font-weight: bold;
    color: #0065FC;
}


/* TROUVER HEBERGEMENT */

.descriptif {
    margin-bottom: 30px;
}

.titre {
    line-height: 0.2em;
}

form {
    display: flex;
    margin-bottom: 50px;
}

input[placeholder] {
    color: black;
    font-weight: bold;
    padding-left: 10px;
}

input[type="text"] {
    font-size: 1.1em;
    border: 1px solid #F2F2F2;
}

.mark {
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
}

.submit {
    background-color: #0065FC;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 10px 10px 0;
    width: 150px;
    height: 45px;
    color: white;
    font-size: 1.2em;
}

.filtre {
    display: flex;
    align-items: center;
}

.boutonFiltre {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
}

.filtreDetails {
    display: flex;
    align-items: center;
    margin-left: 25px;
    height: 50px;
    border-top: 2.5px solid #F2F2F2;
    border-right: 2.5px solid #F2F2F2;
    border-bottom: 2.5px solid #F2F2F2;
    border-radius: 25px;
    cursor: pointer;
    background-color: white;
}

.filtreDetails:hover {
    color: #0065FC;
    border-top: 2.5px solid #0065FC;
    border-right: 2.5px solid #0065FC;
    border-bottom: 2.5px solid #0065FC;
    background-color: #DEEBFF;
    transition: all 450ms;

}

.filtreDetails:hover .icon-filtre {
    background-color: #0065FC;
    color: white;
    transition: all 300ms;
}

.titre {
    font-weight: bold;
}

.icon-filtre {
    height: 50px;
    width: 50px;
    color: #0065FC;
    background-color: #DEEBFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}


.filtreIntitule {
    margin: 0px 15px;
    font-size: 1.15em;
    font-weight: bold;
}

.info {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.info p {
    margin-left: 10px;
}

.details {
    font-size: 1em;
}

.icon-info {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e4e4e4;
    color: #0065FC;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}


/* LISTE HEBERGEMENT */

#mesHebergement {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.hebergement {
    width: 60%;
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 20px 40px; 
}

.cards-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards-list > * {
    flex: 0 0 30%;
}

.cards-list-populaire {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards-list-populaire > * {
    flex: 100%;
}

.cards {
    background-color: white;
    width: 220px;
    margin-bottom: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
    transition: all 0.5s ease;
    cursor: pointer;
}

.cards:hover {
    transform:scale(1.05);
}

.img-card {
    display: block;
    object-fit: cover;
    object-position: center;
    margin: 2%;
    width: 96%;
    height: 115px;
    border-radius: 20px 20px 0 0;
}

.plus {
    margin-top: 10px;
    font-weight: bold; 
}

.img-card-pop {
    display: block;
    object-fit: cover;
    object-position: center;
    margin: 2%;
    width: 115px;
    height: 90%;
    border-radius: 20px 0 0 20px;
}

.description {
    margin-left: 15px;
}

.description p {
    margin-top: -2px;
}

.libelle {
    white-space: nowrap;
    font-size: .9em;
    margin: 5px 0;
}

.prix {
    font-size: 0.7em;
}

.icon-star {
    color: #0065FC;
}

.icon-star-disable {
    color: #DEEBFF;
}

.cards-populaire {
    background-color: white;
    width: 320px;
    height: 150px;
    margin-bottom: 30px;
    border-radius: 20px;
    display: flex;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
    transition: all 0.5s ease;
    cursor: pointer;
}

.cards-populaire:hover {
    transform:scale(1.05);
}

.populaire {
    width: 25%; 
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 20px 40px;
}

.star {
    margin-bottom: 10px;
    margin-top: -5px;
    margin-right: 5px;
}

.details-populaire p {
    margin-top: -15px;
}

.details-populaire {
    margin-left: 10px;
}

.details-populaire .star {
    margin-top: 30px;
}

.heading-populaire {
    display: flex; 
    justify-content: space-between;
}

.iconcourbe {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.45em;
}

.libelleProp {
    font-size: 0.8em;
}

.popdetails {
    width: 150px;
}

/* ACTIVITE */

.imagesMarseille {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.img-act {
    border-radius: 20px 20px 0 0;
    height: 400px;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}

.img-act-2 {
    border-radius: 20px 20px 0 0;
    height: 200px;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}

.img-act-3 {
    border-radius: 20px 20px 0 0;
    height: 100px;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}

.img-act-4 {
    border-radius: 20px 20px 0 0;
    height: 135px;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}

.img-act-5 {
    border-radius: 20px 20px 0 0;
    height: 150px;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}

figure {
    margin: 0;
    padding: 0;
    width: 300px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
    border-radius: 20px;
    transition: all 0.5s ease;
    cursor: pointer;
}

figure:hover {
    transform:scale(1.05);
}

figcaption {
    background-color: white;
    font-weight: bold;
    padding: 20px;
    border-radius: 20px;
}

.image-activite {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


/* FOOTER */

footer {
    background-color: #F2F2F2;
    width: 100%;
}

.footer-content {
    padding-top: 30px;
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.item-footer:hover {
    text-decoration: underline;
}

.footer-content #assistance {
    width: 20%;
}